.star-rating {
    display: inline-flex;
}

.star-rating input[type="checkbox"] {
    display: none;
}

.star-rating label {
    font-size: 25px;
    cursor: pointer;
}

.star-rating label:before {
    content: "\2605";
    margin-right: 5px;
    font-size: 25px;
    vertical-align: middle;
}

.star-rating input[type="checkbox"]:checked+label:before {
    content: "\2605";
    color: #FFD700;
}

.feedbackCustom {
    justify-content: center;
    align-items: center;
    display: flex;
}

.feedbackFor {
    justify-content: center;
    align-items: center;
    display: flex;
}

fieldset {
    margin: 20px;
    background-color: white;
    justify-content: center;
    border-radius: 20px;
    padding: 50px 40px;
    width: 100%;

}

legend{
    padding: 10px;
}

div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

fieldset .project {
    height: 1000px;
}

label {
  padding-left: 8px;
}

.feedback {
    margin-top: 60px;
}


input[type="submit"] {
    display: block;
    width: 20%;
    margin: 1em auto;
    height: 3em;
    font-size: 1.1rem;
    border-color: white;
    min-width: 300px;
    cursor: pointer;
    color: white;
    background-color: #0171d3;
    transition: all 0.3s ease;
    cursor: pointer;
    border-radius: 70px;
}

input[type="text"],
textarea {
    background-color: white;
    border: 1px solid #CACACA;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    width: 90%;
    height: 35px;
    margin-left: 5px;
}

input[type="email"],
textarea {
    background-color: #fff;
    border: 1px solid #CACACA;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    width: 90%;
    height: 35px;
    margin-left: 5px;
}

input[type="tel"],
textarea {
    background-color: #fff;
    border: 1px solid #CACACA;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    width: 90%;
    height: 35px;
    margin-left: 5px;

}

input[type="date"],
textarea {
    background-color: #fff;
    border: 1px solid #CACACA;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    width: 160px;
    margin-left: 5px;
    height: 32px;
    /* margin-top: 5px; */
}

input[type="options"],
textarea {
    background-color: #fff;
    border: 1px solid #CACACA;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    width: 160px;
    margin-left: 5px;
    height: 32px
}

h4{
    padding-left: 8px;
}

h5{
    font-weight: 100;
}

.question{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: baseline;
}

.rating{
    display: grid;
    grid-template-columns: 65% 35%;
    margin-left: 0px;
    align-items: center;
    padding-left: 10px;
    width: 100%;

}

#overallExperience {
    width: 150px;
    height: 35px;
    padding: 2px;
    border: 1px solid #cacaca;
    border-radius: 20px;
    background-color: #fff;
    font-size: 15px;
}

/* Style the option elements */
#overallExperience option {
    background-color: #edf1f7;
    font-size: 14px;

}

#overallExperience:focus {
    border-color: #ffcaca;
    outline: none;
}

.formelements{
    display: grid;
    grid-template-columns: 20% 80%;
    column-gap: 30px;
    row-gap: 40px;
    align-items: center;
}

.additional{
    margin-top: 20px;
    display: grid;
    row-gap: 20px;
}

.additional-1{
    grid-template-columns: 40% 60%;
    align-items: center;
}

.additional-2{
    display: grid;
    grid-template-columns: 60% 40%;
}